.ed-opts-open:focus + .ed-options,
.ed-opts-open:hover + .ed-options {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* nav > ul > li :hover + .notification-box {
    display: block;
} */


.theme-name{

    font-weight: 600;
    font-size: larger;
    padding: 5px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.user-info img{
    width: 32px;
}
.usy-dt > img {
    width: 50px;
}
.user-picy > img{
    border-radius: 50%;
}

.user-pro-img img {
    width: 200px;
    border-radius: 50%;
}